[Desktop Entry]
Type=Action
Tooltip=Open New Tab 
Name=Open New Tab
Profiles=profile-one;
Icon=tab-new


[X-Action-Profile profile-one]
MimeTypes=inode/directory;
Exec=pcmanfm %f
Name=Default profile
