[Desktop Entry]
Type=Action
Tooltip=Edit in Neovim
Name=Edit in Neovim 
Profiles=profile-one;
Icon=nvim

[X-Action-Profile profile-one]
MimeTypes=text/*;application/*;
Exec=alacritty -e nvim %f 
Name=Default profile
